<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div id="messages"></div>
<form id="sendForm">
  Name:
  <input type="text" name="name" /><br />
  Message:
  <input type="text" name="content" /><br />
  <input type="submit" value="Send" />
</form>

<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="/javascripts/main.js"></script>