<html>
  <head>
    <title>{{title}}</title>
    {{! <script src="/javascripts/big.js"></script> }}
  </head>
  <body>
    <h1>Demo website</h1>
    <marquee>Welcome to my webiste</marquee>
    {{{body}}}
  </body>
</html>